/* css-demo style sheet */


/* Color Theme Swatches in Hex */
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-1-hex { color: #A6A6A6; }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-2-hex { color: #595959; }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-3-hex { color: #404040; }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-4-hex { color: #262626; }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-1-rgba { color: rgba(165, 165, 165, 1); }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-2-rgba { color: rgba(89, 89, 89, 1); }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-3-rgba { color: rgba(63, 63, 63, 1); }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-4-rgba { color: rgba(38, 38, 38, 1); }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-1-hsla { color: hsla(0, 0, 65, 1); }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-2-hsla { color: hsla(0, 0, 35, 1); }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-3-hsla { color: hsla(0, 0, 25, 1); }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-4-hsla { color: hsla(0, 0, 15, 1); }
.Rough-Black-wall-slate-texture-rough-background,-dark-concrete-floor-or-old-grunge-background-5-hsla { color: hsla(0, 0, 5, 1); }

/* text color  #A6A6A6;*/

/* body  color  #262626;*/

/* -----box sizing------- */

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}


body{
    background-color: #262626;
    font-family: 'Cairo', sans-serif;
    color:#A6A6A6;
    margin: 0;
    
}

/* -----Utility classes------- */

.container {
    width:70vw;
    max-width:900px;
    margin: 40px auto;
  }

/* -----Main Header------- */

header.primary{
    background-color:#0D0D0D ;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000;
    padding:40px 40px 20px 40px;
}

header.primary h1{
    font-size:2.8rem;
    margin:20px 0;
}

header.primary h1 a{
    color:#fff;
    text-decoration: none;
}

header.primary h1 a:hover{
    color:dimgrey;
}

header.primary h2{
    font-size:2rem;
    margin: 20px auto 40px;
}

/* -----Header Nav------- */

header.primary nav{
    width:70vw;
    margin:20px auto;
    max-width:900px;
}

header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:0;
}

header.primary nav ul li{
    list-style-type:none;
}


header.primary nav ul li a:link,
header.primary nav ul li a:visited{
    color:#fff;
    text-decoration: none;
    background-color: rgba(165, 165, 165, 1);
    padding: 8px 16px;
    border-radius:20px;
    transition: .5s;
    border:seashell
}

header.primary nav ul li a:hover, header.primary nav ul li a:active {
        background-color: skyblue;
}

/* -----Media config------- */

@media screen and (max-width:710px) {
    
    header.primary nav ul{
        flex-direction:column;
        justify-content:space-between;

    }

    header.primary nav li{
        margin-bottom:10px;
    }

    header.primary a{
        display:block;
    }
}


/* -----Section CSS------- */

#intro h2{
    text-align: center;
    
}

#intro{

    padding-bottom:.9rem;
    padding-right: .9rem;
    padding-left: .9rem;
    box-shadow: 4px 6px 8px white;
}

/* -----Article CSS------- */

#content.container{
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
}

article.post{
    width:30%;
    box-shadow: 0 4px 8px white;
    padding:.6rem;
    font-size: .9rem;
    transition: .5rem;
}

article.post:hover{
    box-shadow:0 8px 16px cyan;  
}

article.post figure{
    margin:0;
  }

  article a:hover, article a:active{
    text-decoration:none;
  }

  /* -----Aside CSS------- */

  aside p{
    padding-bottom:.9rem;
    padding-right: .9rem;
    padding-left: .9rem;
    box-shadow: 4px 6px 8px white;
  }

  aside footer{
      text-align: center;
    box-shadow: 2px 2px 2px white;
    display: none;
  }


  /* -----footer CSS------- */

  #colophon{
      background-color: darkgray;
      padding: 5px;
      
  }

  #colophon h6{ 
      margin: 0;
      text-align:center;
      color:rgba(12, 12, 12, 1);
      font-size:.9rem;
  }