/* spacex CSS */


*{
    margin:0;
    padding:0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color:#fff;
    line-height: 1.6;
    height: 100vh;
    /*overflow:hidden;*/
    
}

.container{
    width: 100%;
    height: 100%;
    /*Css smooth Scroll */
    /* overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
}

.navbar{
    position: fixed;
    top:0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    
    
}

.img-fluid{
    position:absolute;
    margin: 0 1rem;
    padding: 1rem;
    
    
}

  /* Img Gallery */

  #gallerycontainer{
    float: left;
  }

  #gallerycontainer p{
      margin-top: 15em;
      font-size: 1rem;
  }

  div.gallery {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 100%;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  /* list container  */

  .listcontainer h3{
      padding: 10px;
  }

  .listcontainer ul {
      list-style-type: none;
  }

  .listcontainer li {
      text-decoration: none;
      font-size: 15px;
  }
 



.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    height:70px;
    justify-content: center;
    background: #333;

}

.navbar ul li{
    margin: 0 3rem;
    padding: 2.5rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color:#f4f4f4f4;
}

.navbar ul li a:hover {
        color:rgb(54, 137, 219);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    height:150vh;
    scroll-snap-align: center;
 }

 #buttonContainer{
     
     width:320px;
     height: 150px;
     position: absolute;
     top:58vh;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: 400px;
     }

     #buttonone, #buttontwo{
         background-color: rgb(172, 111, 20);
         padding: 10px;
         font-family: Arial, Helvetica, sans-serif;
         border-radius: 20px;


     }


     #buttonone{
         float: left;
     }

     #buttontwo{
         float: right;
     }


 section#landing video{
     
     object-fit: cover;
     width:100vw;
     height: 100vh;
     
 }

 section#home img{
     margin-top: 20px;
     margin-bottom: 30px;
 }

 section h1{
    font-size: 4rem;

}

section h2 {
    font-size: 3rem;
}

section h3 {
    font-size: 2rem;
}

section p{
    font-size: 1.5rem;

}

	





section#home{
    background: url('/spacex/assets/img/dragon-in-space.jpg') no-repeat center/ 
    cover;
   
}
 
section#history{
    background: url('/spacex/assets/img/dragon-capsule-5.jpg') no-repeat center/ 
    cover;
   
}

section#faqs{
    background: url('/spacex/assets/img/dragoncrew.8k.jpg') no-repeat center/ 
    cover; 
}